# ESPN Cricket (Test Match) Data (Data Cleaning in Python)

In [1]:
# importing necessary packages
import numpy as np
import pandas as pd

In [5]:
# reading the excel file in a dataframe using pandas
df = pd.read_csv('ESPN_cricket_data.csv')
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11

In [6]:
# renaming columns to make them more readable
df = df.rename(columns= {'Span': 'playing_span','Mat': 'matches_played','NO': 'not_outs','HS': 'highest_innings_score','Ave': 'avg_batting', 'BF': 'balls_faced', 'SR': 'strike_rate', '100': 'hundreds_scored', '50': 'fifties_scored', '0': 'ducks_scored'})

In [7]:
#displaying df with new column names
df.head()

,Player,playing_span,matches_played,Inns,not_outs,Runs,highest_innings_score,avg_batting,balls_faced,strike_rate,hundreds_scored,fifties_scored,ducks_scored,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11